@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Projeto de Guilherme V. M. Carvalhal para Dev. Jr. BackEnd.</h3>
    <h3>@Html.ActionLink( " (∩ ◕ ヮ ◕ )⊃━☆ﾟ.* Start", "Index", "UniData" )</h3>
</div>

